body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(245, 250, 247);
}

.container {
  text-align: center;
}

canvas {
  border: 1px solid #000;
  background-color: #fff;
}

#score {
  margin-top: 10px;
  font-size: 20px;
}

#reset {
  margin-top: 10px;
}